.App {
  font-family: sans-serif;
  text-align: center;
}

.graph_box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.fs-3 {
  font-size: 3rem;
}
.my-3{
  margin-top: 2rem;
  margin-bottom: 2rem;
}